<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Template</title>
</head>

<body>
    <h1>Passing Go Slice of Struct Data to HTML Template</h1>
    <h2>Go Teamplate Base 2</h2>
    <h2>Cars Listing</h2>
    <ul>
        {{range .Cars}}
        <hr>
        <li>Owner: {{ft .Owner}}</li>
        <li>Make: {{uc .Make}}</li>
        <li>Model: {{.Model}}</li>
        <li>Type: {{.Type}}</li>
        <li>Year Built: {{.YearBuilt}}</li>
        <li>Door: {{.NoDoor}}</li>
        {{end}}
    </ul>
</body>

</html>