{{define "nav"}}
<div class="nav">
   <div class="navbar">
      <div class="navbar-item">
         <a href="/">DEALER</a>
         <a href="/contacts">VEHICLES</a>
         <div class="navbar-item dropdown">
            <a href="/inbox">SHOP</a>
            <div class="dropdown-items">
               <a href="/compose">INVENTORY</a>
               <a href="">SPECIAL OFFERS</a>
            </div>
         </div>
      </div>
      <div class="navbar-item">
         <a href="/mycar">My CARS</a>
         <a href="/login">LOGIN</a>
      </div>
   </div>
</div>
{{end}}