<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Composition</title>

</head>

<body>
  <h1>Calling Method from HTML Template</h1>
  <h2>Bank Checking</h2>
  <p>
    Owner: Mike McNillin<br>
    Account: Checking<br>
    Account No: C00120200525<br>
    Opening Balance: 100.50<br>
    Income: 100.50<br>
    Expense: 50.50<br>
    Net Balance: 50.0<br>
    Transaction ID: 2

  </p>

  <p>
  </p>

</body>

</html>