<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Template</title>
    </head>

    <body>
        <h1>Passing Go Struct Data to HTML Template</h1>
        <h2>Go Teamplate Base 1</h2>
        <ul>
            
            <li>Ford Motors</li>
            <li>F1500</li>
            <li>2020</li>
            <li>7500</li>
            <li>1500</li>
            <li>100</li>
            
            <li>GM</li>
            <li>Silverado 1500</li>
            <li>2021</li>
            <li>7500</li>
            <li>1500</li>
            <li>100</li>
            
            <li>GMC</li>
            <li>Sierra 1500</li>
            <li>2022</li>
            <li>9600</li>
            <li>2100</li>
            <li>100</li>
            
        </ul>
    </body>

</html><!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Go Template</title>
    </head>

    <body>
        <h1>Passing Go Slice of Struct Data to HTML Template</h1>
        <h2>Go Teamplate Base 2</h2>
        <ul>
            
            <li>Ford Motors - F1500</li>
            
            <li>GM - Silverado 1500</li>
            
            <li>GMC - Sierra 1500</li>
            
        </ul>
    </body>

</html>