<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Go HTML Template</title>
</head>

<body>
  <h3>Person Info</h3>
  <p>First Name: Thanh</p>
  <p>Last Name: Ng</p>
  <p>Job: Programmer</p>
  <p>Age: 52</p>
  <h3>Programming Language: </h3>
  <ul>
    
    <li>0 - html</li>
    
    <li>1 - java script</li>
    
    <li>2 - css</li>
    
    <li>3 - go</li>
    
  </ul>
</body>

</html>