<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go Template</title>
</head>

<body>
    <h1>Passing Go Struct Data to HTML Template</h1>
    <h2>Go Teamplate Base 1</h2>
    <ul>
        <h2>Truck List</h2>
        {{range .Trucks }}
        <li>Owner: {{ft .Owner}}</li>
        <li>Make: {{uc .Make}}</li>
        <li>Model: {{.Model}}</li>
        <li>Built: {{.YearBuilt}}</li>
        <li>Max Tow: {{.TowCap}}</li>
        <li>Max Load: {{.LoadCap}}</li>
        <li>Top Speed: {{.Speed}}</li>
        <hr>
        {{end}}
    </ul>
</body>

</html>