<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Composition</title>

</head>

<body>
  <h1>Calling Method from HTML Template</h1>
  <h2>Bank Checking</h2>
  <p>
    Owner: {{.Owner.Fname}} {{.Owner.Lname}}<br>
    Account: {{.Type}}<br>
    Account No: {{.AccNum}}<br>
    Opening Balance: {{.OpenBalance.Dollars}}.{{.OpenBalance.Cents}}<br>
    Income: {{.Income.Dollars}}.{{.Income.Cents}}<br>
    Expense: {{.Expense.Dollars}}.{{.Expense.Cents}}<br>
    Net Balance: {{.EndBalance.Dollars}}.{{.EndBalance.Cents}}<br>
    Transaction ID: {{.Activities.ID}}<br>
    Transaction Date: {{.Activities.Date}}<br>


  </p>

  <p>
  </p>

</body>

</html>