{{define "nav"}}
<div class="nav">
   <div class="navbar">
      <div class="navbar-item">
         <a href="/">Home</a>
         <a href="/contacts">Contacts</a>
         <div class="navbar-item dropdown">
            <a href="/inbox">Inbox</a>
            <div class="dropdown-items">
               <a href="/compose">Compose</a>
               <a href="">Refresh</a>
            </div>
         </div>
      </div>
      <div class="navbar-item">
         <a href="/send">Send</a>
         <a href="/login">Login</a>
         <a href="/settings">Settings</a>
      </div>
   </div>
</div>
{{end}}