<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Car Info</title>
</head>
<body>
   <section>
      <h1>Car Information:</h1>
         <ul>
            <li>{{.Build}}</li>
            <li>{{.Model}}</li>
            <li>{{.Type}}</li>
            <li>{{.MaxTrailer}}</li>
            <li>{{.MaxPayload}}</li>
         </ul>
   </section>   
</body>
</html>